* {
    margin :0;
    padding:0 ;
}

h1{
    background-color:  #081b31;
    color: beige;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice
{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
   
    cursor: pointer;
    background-color: #081b31;
}
img
{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;

}

.score-board
{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
     margin-top: 2rem;
     font-size: 2rem;
}

#msg{
    justify-content: center;
    align-items: center;
    background-color: #081b31;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.message-container{
    margin-top: 3rem;
    width: 200px;
}
#user-score,#computer-score{
    font-size: 4rem;
}